*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 65% 1fr;
}

section{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side{
    background-color: gold;
    align-items: center;
    background: url(./bk.jpg) no-repeat center;
}

.side:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.side p{
    position: relative;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4em;
    font-size: 1.7rem;
}

.side .main-msg{
    text-transform: uppercase;
    font-size: 3.3rem;
    font-weight: bold;
    max-width: 550px;
    margin-bottom: 3em;
}

.title{
    color: #343434;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin-bottom: 2rem;
}

form{
    width: 100%;
}

.form-control{
    width: 100%;
    position: relative;
    margin-bottom: 1.7em;
}

input,
button{
    border: none;
    outline: none;
    font-size: 1.1em;
}

input{
    width: 100%;
border-bottom: 1px solid #c6c6c6;
color: #343434;
letter-spacing: 0.5px;
padding: 1rem 2.5em;
transition: color 0.4s;
}

input ~i{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color 0.4s;
}

input:focus ~ i{
    color: #0c484b;
}

input ~ .focused-border{
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    background-color: #0c484b;
    transition: width 0.4s;
}

input:focus ~ .focused-border{
    width: 100%;
}

button.action{
    background-color: #0c484b;
    color: #fff;
    padding: 1em 3em;
    margin: 2em auto 4em;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
}

button.action:hover{
    opacity: 0.9;
}

.register a {
    text-decoration: none;
    display: inline-block;
    margin-left: 0.5em;
    color: #0c484b;
    font-weight: bold;
}

@media (max-width: 980px) {
    body{
        grid-template-columns: 65% 1fr;
    }

    section{
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .side:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 65%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@media (max-width: 800px) {
    body{
        grid-template-columns: 58% 1fr;
    }

    .side .main-msg{
        font-size: 2.7rem;
    }
    .side:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 58%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@media (max-width: 680px) {
    body{
        grid-template-columns: 58% 1fr;
    }

    .side {
        display: none;
    }

    .main{
        width: 175%;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    p{
        text-align: center;
    }
}